.header {
    display: flex;
    background-color: #1C1C21;
    align-items: center;
    justify-content: space-evenly;
}

.nav {
    display: flex;
}

.list {
    display: flex;
    list-style: none;
}

.list_item {
    display: flex;
    align-items: center;
}

